/* "Roboto" font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: inherit;
}

:root {
	--boardbg: #dcf5ff;
	--aliceblue: aliceblue;
}

body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(10deg, #a27ad7, #adcdba 38%, #16e8ef);
	font-family: 'Roboto', sans-serif;
	background-attachment: fixed;
}

.parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.board {
	display: grid;
	grid-template-columns: auto auto auto;
	box-shadow: 0 10px 20px rgba(43, 41, 41, 0.2);
	border: 1px solid rgb(255, 255, 255);
	border-width: 2px;
	padding: 10px;
	justify-content: center;
	border-radius: 1rem;
	border-radius: 5px;
	margin-top: 30px;
}

.cell {
	background-color: rgb(173, 243, 243);
	border: 1px solid #ffffff;
	border-width: 2px;
	border-radius: 5px;
	padding: 2px;
	margin: 2px;
	width: 7rem;
	height: 7rem;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	transition: background-color 0.2s ease-in-out;
}

.box:hover {
	background-color: rgb(210, 244, 244);
}

.box:active {
	background-color: rgb(173, 243, 243);
	border-radius: 5px;
	margin: 0;
}

.title {
	background: linear-gradient(75deg, #00e1ff88, #6f00ff73 48%, #ff686871);
	border-radius: 10px;
	padding: 5px 28px;
	font-size: 2.5rem;
	margin-top: 10vh;
	margin-bottom: 2vh;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.444);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-transform: uppercase;
	background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
}
@keyframes textclip {
	to {
		background-position: 300% center;
	}
}

h1 {
	background-color: #00e0ff;
	background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
	border: 0.5 thin black;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: black;
	font-size: 2rem;
	text-align: center;
	padding: 0.5rem;
}

#result {
	background-color: transparent;
	background-image: none;
	background-clip: text;
	color: #00fff2;
	margin-top: -10px;
}

.container {
	padding: auto;
	text-align: center;
	margin-top: auto;
	position: relative;
	height: 10px;
	width: 100%;
}

.btn {
	padding: 20px 60px;
	background-color: rgb(216, 180, 234);
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	font-weight: 500;
	border-radius: 30px;
	position: absolute;
	right: 30px;
	bottom: 50px;
}

.btn:hover {
	background-color: rgb(203, 153, 228);
}

.feature-btn {
	padding: 14px 12px 9px 12px;
	background-color: rgb(182, 243, 248);
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	font-weight: 500;
	border-radius: 30px;
	position: relative;
}

.feature-btn:hover {
	background-color: rgb(132, 206, 247);
}

.btn-container {
	position: relative;
	top: 1rem;
	width: 25%;
	display: flex;
	justify-content: space-around;
}

.popup {
	min-width: 600px;
	background: rgb(169, 121, 193);
	border-radius: 5px;
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 19px;
	padding: 0 30px 30px;
	visibility: hidden;
	transition: 0.4s transform;
}
.show {
	visibility: visible !important;
}

.popup h2 {
	font-size: 30px;
	font-weight: 500;
	margin: 30px 0 10px;
}

.popup button {
	width: 100%;
	margin-top: 30px;
	padding: 10px 0;
	background-color: #ff6868;
	color: white;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
}

.popup button:hover {
	background: #ee4e4e;
}

.open-popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: all 0.5s ease-in-out;
}

.popup ol li {
	font-size: 1rem;
	margin-bottom: 15px;
	line-height: 0.95;
}

.backdrop {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(2px);
	visibility: hidden;
}

#leader-board table {
	width: 500px;
	margin-bottom: 200px;
	text-align: center;
}

/*Mobile screen styles*/
@media (max-width: 600px) {
	.title {
		font-size: 2.2rem;
		margin-bottom: 7vh;
	}
	.box {
		width: 6rem;
		height: 6rem;
		font-size: 40px;
	}
	.btn {
		padding: 10px 30px;
		font-size: 15px;
	}
	.popup {
		min-width: 400px;
		padding: 0 10px 20px 10px;
	}
	.popup h2 {
		font-size: 20px;
	}
}
